.page-container {
    width: 100%;
    display: grid;
    max-width: 1300px;
    padding: 10px;
    margin: auto;
    gap: 20px;
}

.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.herotext {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 55, 157, 0.7);
    color: white;
    /*I have checked for the color contrast with Firefox Developer Tool, using accessibility tab*/
}

footer p {
    text-align: center;
}